.ini {
  background-color: aqua;
  color: black;
  padding: 12px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#kotak1 {
  background-color: rgb(8, 49, 137);
}
#kotak2 {
  background-color: blueviolet;
}
#kotak3 {
  background-color: brown;
}
